services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: dbworks
      POSTGRES_PASSWORD: dbworks
      POSTGRES_DB: dbworks_dev
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
